*{margin:0;padding:0}
#headContainer {
     height:100px;
     background:#cdcbcb;
}
 #functionArea {
            background-color:#ff0000;
            height:auto;
            width:250px;
            float:left;

        }
#mapArea {
            background-color:#ffffff;
            float:left;
            height:auto;
        }
 .map {
        height: 100%;
        width: 100%;
      }
#propertyArea {
            background-color:#efefef;
            width:0px;
            display: none;
            float:right;
            overflow: scroll;
        }
#propertyTable{
    font-size: 12px;
}
#mutiQueryBlock{
    display: none;
}
.btn {
    padding: 6px!important;
}
.check{
    height: 25px; width: 25px; display: block; 
    float: left;
    visibility: hidden;
}